@import url('https://fonts.cdnfonts.com/css/quicksand');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  scroll-behavior: smooth;
  --primary-color: #F2F1EB;
  --secondary-color: #EEE7DA;
  --tertiary-color: #AFC8AD;
  --quarternary-color: #88AB8E;
}

body {

  font-family: 'Quicksand Book';
}

.transform-rotate-leaves {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



.link-rows:after {
  content: '';
  position: absolute;
  width: 75%;
  height: 2px;

  bottom: 0%;
  transform: translate(0, -50%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.507) 0%, rgba(242,241,235,1) 100%);
  display: block; 
}

.link-rows:hover:after {
  content: '';
  position: absolute;
  width: 75%;
  height: 2px;

  bottom: 0%;
  transform: translate(0, -50%);
  background: radial-gradient(circle, rgba(136,171,142,1) 50%, rgba(242,241,235,1) 100%);
  display: block; 
}

.triangle, .triangleTwo {
  position: relative;
  background: #2c3e50;
  height: 0px;
}

.triangle::before  {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 60px 60px 60px;
  border-color: transparent transparent var(--primary-color) transparent;
  left: 10%;
  transform: translateX(-50%);
}
.triangle::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 60px 60px 60px;
  border-color: transparent transparent var(--primary-color) transparent;
  left: 25%;
  transform: translateX(-50%);
}

/* Suspense Loader */

.container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.loader {
  width: 20px;
  height: 40px;
  border-radius: 10px 50px;
  box-shadow: 0px 0px 5px black;
  animation: dominos 1s ease infinite;
}

.loader:nth-child(1) {
  --left: 80px;
  animation-delay: 0.325s;
  background-color: #5d9960;
}

.loader:nth-child(2) {
  --left: 70px;
  animation-delay: 0.5s;
  background-color: #82a587;
}

.loader:nth-child(3) {
  left: 60px;
  animation-delay: 0.625s;
  background-color: #8bac74;
}

.loader:nth-child(4) {
  animation-delay: 0.74s;
  left: 50px;
  background-color: #b9bf90;
}

.loader:nth-child(5) {
  animation-delay: 0.865s;
  left: 40px;
  background-color: #e7d2ab;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}
